.screen {
	margin-top: 1rem;
	max-width: 500px;
}

.screen.hidden {
	display: none;
}

#screenMain .lead {
	margin-bottom: 0.25rem;
}

#screenMain table tr td {
	vertical-align: middle;
}

#screenMain .screenMainIPActions {
	width: 0;
}